.footer.bg-black.color-grey
    .footer__connect.box
        .footer__connect-logo
            img(src="/static/img/general/logo-white.png")
        .footer__connect-social.box
            .footer__connect-social-img
                img(src="/static/img/general/apple.png")
            .footer__connect-social-img
                img(src="/static/img/general/cloud.png")
            .footer__connect-social-img
                img(src="/static/img/general/play.png")
        .footer__connect-contact
            h6.footer__connect-contact-number +7 (499) 215-79-79
            h6.footer__connect-contact-email info@domen.ru
        a.btn-yellow личный кабинет
    .footer__menu.box
        .footer__menu-block.block
            a.footer__menu-item Торговля
            a.footer__menu-item Торговая платформа
            a.footer__menu-item Консалтинговый отдел
            a.footer__menu-item Инвестиционные портфели
            a.footer__menu-item Ввод/вывод средств
        .footer__menu-block.block
            a.footer__menu-item Аналитика
            a.footer__menu-item Экономический календарь
            a.footer__menu-item Новости рынка
        .footer__menu-block.block
            a.footer__menu-item Обучение
            a.footer__menu-item Фундаментальный анализ
            a.footer__menu-item Технический анализ
        .footer__menu-block.block
            a.footer__menu-item О компании
        .footer__menu-block.block
            a.footer__menu-item Документы
    .footer__info
        .footer__info-notification Уведомление о рисках
        .footer__info-descr Risk warning: Trading currencies, contracts for differences (CFDs) and other assets with borrowed funds carries a high risk to capital and is not suitable for all investors. Before you start trading, make sure you fully understand the risks involved, consider your investment objectives and level of experience, and seek the advice of an independent expert if necessary. Please read the full risk Warning. Regional restrictions: the TMT Group Services and information on this site are not intended for U.S. citizens/residents, nor for distribution to or use by any person in any country or jurisdiction where such distribution or use would be contrary to local law or regulation.
