.menu
    a.menu__item О компании
    a.menu__item Торговля
        +icon('arrow', 'arrow-grey')
    a.menu__item Аналитика
        +icon('arrow', 'arrow-grey')
    a.menu__item Обучение
        +icon('arrow', 'arrow-grey')
    a.menu__item Контакты