// ЦВЕТА


// РАЗМЕРЫ
baseFontSize = 16px

desktopWidth      = 1400px
smallDesktopWidth = 960px
tableWidth        = 767px
bigPhoneWidth     = 479px
smallPhoneWidth   = 319px


// ШРИФТЫ
IgraSans    = Igra Sans, Arial, sans-serif
montserrat  = Montserrat, Arial, sans-serif