.menu
  margin 40.83px auto 25px auto
  width 100%

  &__item
    height 100px
    display flex
    align-items center
    justify-content space-between
    font-size: rem(24px);
    line-height: 31px;
    padding 0 98.28px 0 98px
    border-top: 1px solid rgba(196, 196, 196, 0.5);
    color: #747474;

    &:last-child
      border-bottom: 1px solid rgba(196, 196, 196, 0.5);