.icon-arrow
  fill #747474
  size (6px 9.61px)
  margin 0 10.99px

.arrow-grey
  fill: #C4C4C4;
  size (11.66px 20px)
  margin 0

.icon-arrow-next
  width 32.15px
  margin-left 28px

.arrow-next-yellow
  fill #FFCC00;

.icon-menu
  size (44px 24px)

  @media screen and (max-width bigPhoneWidth)
    size (28px 14px)